@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,800;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Poppins", sans-serif;
} 

body {
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

#main-navbar {
  height: 120px;
  background-color: #031d30;
}

#logo {
  width: 250px;
}

#search-form {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  width: 15%;
  margin-left: 50px;
}

#search-form .form-control {
  border: none;
  width: 75%;
  box-shadow: none;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 16px;
}

/* Home */
#main-container {
  min-height: calc(80vh - 120px);
  flex: 1;
}

.center {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/* Destaques */

.noticia-destaque {
  padding: 0px;
}

.center h2 {
  text-align: center;
  align-items: center;
}

.img-destaque {
  width: 100%;
  position: relative;
}
.img-destaque h2 {
  font-size: 30px;
}

.img-destaque img {
  height: 500px;
}

/* Informações */

.informacoes {
  width: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.informacoes > h1 {
  background-color: #031d30;
  color: white;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
}

.informacoes h1 {
  font-weight: bold;
}

.informacoes-noticia-single {
  padding: 10px;
  flex-wrap: wrap;
}

.informacoes-noticias {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.informacoes-noticia-single img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.texto-informacoes-single p {
  color: #7b8591;
  font-size: 17px;
}

/* Noticias e Postagens */

section.outras-noticias {
  text-align: center;
  width: 100%;
  flex: 1;
}

.ultimas {
  width: 75%;
  padding: 0 10px;
}

.ultimas h1 {
  background-color: #031d30;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ultimas > h2 {
  background-color: #031d30;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  font-size: 30px !important;
}

.box-ultima-single {
  margin-top: 20px;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px #686868;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box-ultima-single h2 {
  font-weight: bold;
  font-size: 20px;
}

.box-ultima-single p {
  color: black;
}

.box-ultima-single img {
  width: 100%;
  height: 200px;
}

.gotonotice {
  display: block;
  background-color: #031d30;
  text-decoration: none;
  color: #0aacdc;
  line-height: 56px;
  font-size: 19px;
  align-self: flex-end;
  width: 100%;
  font-weight: bold;
}

.gotonotice:hover {
  text-decoration: none;
  color: #0aacdc;
}

.conteudo-noticia-single {
  margin-top: 1rem;
  flex: 1;
}

.conteudo-noticia-single-span {
  display: flex;
  justify-content: center;
}

.conteudo-noticia-single-span span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ultimas-cards {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

.vejamaisbutton {
  margin: 0 auto;
  margin-top: 30px;
}

.vejamaisbutton a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  background-color: #031d30;
  text-decoration: none;
  color: #0aacdc;
  line-height: 40px;
  font-size: 19px;
  padding: 20px;
}

/* Footer */
#footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  height: 120px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: 0.5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #fff;
  transition: 0.5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}

/*                                              Paginas Singles                                 */

/* SOBRE */

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  flex: 1;
  flex-direction: column;
}

.sobre-title {
  font-weight: bold;
}

.sobre-paragraph2 {
  display: flex;
}

.sobre-center {
  justify-content: center;
  text-align: center;
}

.sobre-paragraph2 img {
  display: flex;
  width: 862px;
  height: 450px;
  margin-right: 20px;
}

.sobre-tre-coisas {
  display: flex;
  justify-content: space-between;
}

.sobre-tre-coisas img {
  margin: 0 auto;
  display: flex;
  height: 100px;
}

.sobre-tefilin {
  display: flex;
}

.sobre-tefilin img {
  width: 600px;
  height: 400px;
}

.sobre-transformar {
  font-size: 31px;
}

.after {
  content: "";
  width: 200px;
  border-bottom: 10px solid #9fe7e7;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* Cards Single */

.completas {
  padding: 0 10px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.completas > h2 {
  background-color: #031d30;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  font-size: 30px !important;
}

.completas h1 {
  background-color: #031d30;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-ultima-completas {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 19%;
  margin-right: 3%;
  margin-left: 3%;
  padding: 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px #686868;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box-ultima-completas h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
}

.box-ultima-completas p {
  color: black;
}

.box-ultima-completas img {
  width: 100%;
}

/* Contribua */

#contribua {
  justify-content: center;
  text-align: center;
  flex: 1;
}

.logosbancos {
  display: flex;
}

#contribua h2 {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 80px;
}

#contribua h3 {
  text-align: center;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

#contribua img {
  width: 100px;
}

#contribua h2::after {
  content: "";
  width: 70px;
  border-bottom: 10px solid #9fe7e7;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* Fale Conosco */

#faleConosco {
  justify-content: center;
  text-align: center;
  flex: 1;
}

.logosbancos {
  display: flex;
}

#faleConosco h2 {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 70px;
}

#faleConosco p {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

#faleConosco h3 {
  text-align: center;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

#faleConosco img {
  width: 100px;
}

/* Single */

.movie-details {
  margin: 25px 0;
  color: blue;
}

.movie-details span {
  color: gray;
  display: flex;
}

.movie-details p {
  margin-left: 10px;
}

.movie-reference {
  background-color: gainsboro;
  max-width: 640px;
  font-size: 12px;
  margin-left: 18px;
}

.page-notice-title {
  font-size: 50px;
  font-weight: bold;
  max-width: 700px;
}

.page-notice-title::after {
  content: "";
  width: 100px;
  border-bottom: 10px solid #9fe7e7;
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}

.movie-image-container {
  height: 380px;
  max-width: 675px;
  background-position: left;
  background-size: cover;
  margin-top: 20px;
  border-radius: 20px;
}

.movie-description-container {
  max-width: 700px;
  font-size: 18px;
}

.movie-description-container::before {
  content: "";
  width: 700px;
  border-bottom: 2px solid #9fe7e7;
  display: block;
  padding-top: 20px;
}

.movie-container::after {
  content: "";
  width: 700px;
  border-bottom: 2px solid #9fe7e7;
  display: block;
  margin-bottom: 30px;
}

/* Estudos */

.estudo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 14%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 0px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px #686868;
}

.estudo h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
}

.estudo p {
  color: black;
}

.estudo img {
  width: 100%;
}

.estudo a {
  display: block;
  background-color: #031d30;
  text-decoration: none;
  color: #0aacdc;
  line-height: 56px;
  font-size: 19px;
}

.ultimas-esudos {
  padding: 0 10px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

/* Busca */

.mais-lidas {
  width: 40%;
  height: 100%;
  background-color: white;
}

.mais-lidas > h3 {
  background-color: #031d30;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mais-lida-noticia-single {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.mais-lida-noticia-single img {
  width: 25%;
}

.mais-lida-noticia-single .texto-mais-lida-single {
  width: 70%;
  padding: 8px 20px;
}

.texto-mais-lida-single h4 {
  color: #40be65;
  letter-spacing: 3.2px;
}

.texto-mais-lida-single p {
  color: #7b8591;
  font-size: 14px;
}

.texto-mais-lida-single a {
  margin-top: 10px;
  display: block;
  width: 121px;
  height: 36px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #0aacdc;
  border-radius: 10px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

/* Veja mais */

.vejamaiscards {
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.veja-mais-single {
  text-align: left;
  padding-bottom: 10px;
  display: flex;
}

.veja-mais-single img {
  width: 25%;
}

.veja-mais-single-conteudo {
  color: black;
}

.veja-mais-single-items {
  margin-left: 20px;
}

.veja-mais-single-items > p {
  color: #40be65;
}

.veja-mais-single-items a {
  margin-top: 10px;
  display: block;
  width: 121px;
  height: 36px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #0aacdc;
  border-radius: 10px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

.date {
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
  font-family: arial, sans-serif;
  margin-top: 20px;
}

.date p {
  margin-right: 10px;
}

.date img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.hora {
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
  font-family: Calibri;
  margin-top: 20px;
}

.hora img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.horainput {
  display: flex;
  margin-left: 41px;
  align-items: baseline;
}

.horainput p {
  font-size: 24px;
}

.hebcallogo {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.hebcallogo p {
  font-weight: bold;
  font-size: 25px;
  font-family: Calibri;
}

.hebcal img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.hebcalparasha {
  display: flex;
  margin-left: 41px;
}

.parashaname {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}

.parashaheb {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}

.hebcalverse {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  margin-left: 41px;
}

.hebcaldesc {
  justify-content: start;
}

.hebcalverse {
  display: flex;
}

.hebcalleituras {
  margin-left: 41px;
}

.hebcalleituras > h3 {
  display: flex;
  font-size: 14px;
  font-family: arial;
}

.hebcalleituras p {
  display: flex;
  font-size: 12px;
  font-family: arial;
  margin: 0;
}

.informacoestitle {
  display: flex;
}

.informacoestitle img {
  width: 30px;
  height: 30px;
}

.informacoes h2 {
  font-weight: bold;
  font-family: Calibri;
  font-size: 25px;
}

.leiturascompletas p {
  font-size: 14px;
}

.hebcalleituras p {
  font-size: 14px;
}

.city {
  width: 200px;
}

#search-form2 {
  background-color: #fff;
  border-radius: 5px;
}

#search-form2 .form-control {
  border: none;
  box-shadow: none;
}

.transmissoes {
  display: flex;
  margin-left: 41px;
  width: 200px;
  border: 1px solid #ccc;
}

.transmissoes-title {
  margin-right: 10px;
  width: 110px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ccc;
}

.transmissoes-horario {
  width: 90px;
  margin: 0;
  padding: 0;
}

.informacoes-main {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.collapse {
  z-index: 1000;
  padding: 10px;
  background-color: #031d30;
}

.btn {
  border-color: #0aacdc;
}

.btn:hover {
  background-color: #0aacdc;
}

.fa {
  color: white;
}

.navbar-toggler i {
  color: white;
}

.Linktext {
  text-decoration: none;
}

.Linktext:hover {
  text-decoration: none;
}

.imgcategory {
  position: relative;
  margin-bottom: 0;
}

.category-img > p {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  background-color: #031d30;
  color: white !important;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 414px) {
  .ultimas {
    width: 100%;
    margin-top: 20px;
  }

  .informacoes {
    display: inline;
    position: initial;
    width: 100%;
  }

  .box-ultima-single {
    width: 100%;
  }

  .horainput {
    display: inline;
    margin-left: 41px;
  }

  .horainput p {
    text-align: end;
  }

  .img-destaque img {
    height: 200px;
  }

  .box-ultima-completas {
    width: 100%;
  }

  .movie-image-container {
    height: auto;
    max-width: 100%;
  }

  .page-notice-title {
    font-size: 30px;
  }

  .veja-mais-single {
    display: inline;
    margin-bottom: 20px;
  }

  .veja-mais-single img {
    width: 100%;
    margin-top: 20px;
  }

  .veja-mais-single-items a {
    background-color: #031d30;
    text-decoration: none;
    color: #0aacdc;
  }

  .movie-container::after {
    width: 100%;
  }

  .movie-description-container::before {
    width: 100%;
  }

  .logosbancos {
    display: inline;
  }

  .cardbancos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .cardbancos img {
    margin: 0 auto;
  }

  #bb,
  #itau,
  #inter,
  #pix {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #caixa {
    margin-bottom: 10px;
  }

  #contribua h2 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .informacoes-main {
    padding-left: 15px;
  }

  .collapse {
    margin-left: 40%;
  }

  .mais-lida-noticia-single img {
    width: 100%;
  }

  .mais-lida-noticia-single .texto-mais-lida-single {
    width: 100%;
    box-shadow: 0px 1px 3px #686868;
  }

  .texto-mais-lida-single a {
    background-color: #031d30;
    text-decoration: none;
    color: #0aacdc;
  }

  .sobre {
    width: 100%;
    max-width: 100%;
  }

  .sobre-conteiner {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .sobre-paragraph2 {
    flex-wrap: wrap;
  }

  .sobre-paragraph2 img {
    max-width: 100%;
    height: auto;
  }

  .sobre-tefilin {
    flex-wrap: wrap;
  }

  .sobre-tefilin img {
    max-width: 100%;
    height: auto;
  }

  .sobre-tre-coisas {
    flex-direction: column;
  }

  .sobre-transformar {
    font-size: 16px;
  }

  .movie-reference {
    max-width: 90%;
    font-size: 12px;
    margin-left: 18xp;
  }
}

/* SEFER Torah */

.sefertorah {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.topo-texto {
  width: 80%;
}
.titulo-texto {
  padding: 40px;
  display: block;
  font-size: 2.2vw;
  font-weight: bold;
}
.box-azul {
  background-color: rgb(0, 231, 231);
  width: 90%;
  height: 10px;
  margin-left: 5%;
  margin-bottom: 20px;
}
.texto {
  font-size: 1.1vw;
  padding: 10px;
}
.texto p {
  padding: 15px;
  text-align: justify;
}

.link {
  margin: 30px;
  font-size: 30px;
}

.btn-vakinha {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  background-color: rgb(25, 25, 90);
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 20px 20px 23px 20px;
  border-radius: 10px;
  font-family: "Poppins";
}

/* -----------------------------------------------------quadro----------------------------------------------- */
.quadro-container {
  position: relative;
  width: 80%;
  margin: 20px 0px;
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px 15px;
  font-size: 1.2vw;
  background-color: whitesmoke;
}
.quadro-container p {
  font-size: 1.3vw;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.quadro {
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}

.quadro:hover {
  transform: scale(1.02);
}

.box-parasha {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: rgb(25, 25, 90); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url(./images/tora.jpg);
  clip-path: circle(180px at center 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomeparasha {
  width: 100%;
  height: 30%;
  text-align: center;
  position: absolute;
  bottom: 285px;
  justify-items: center;
  color: #f5f5f5;
  font-size: 38px;
  font-weight: bold;
  font-family: "Poppins";
  padding: 0px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-nome {
  position: absolute;
  top: 200px;
  page-break-after: 20px;
  text-align: center;
  width: 100%;
  color: #000;
}

.merito {
  color: #4b4b4b;
  font-size: initial;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.nome {
  color: rgb(32, 32, 32);
  font-weight: bold;
  font-size: 30px;
  font-family: "Poppins";
}

/* -------------------------------------media query------------------------------------------------- */

@media (max-width: 1280px) {
  .topo-texto {
    width: 90%;
  }
  .texto {
    font-size: 20px;
  }
  .titulo-texto {
    font-size: 35px;
  }

  .quadro-container {
    width: 90%;
  }
  .quadro-container p {
    font-size: 25px;
  }
}

@media (max-width: 414px) {
  .texto {
    font-size: 18px;
  }

  .titulo-texto {
    font-size: 30px;
  }

  .link {
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  .quadro {
    width: 95%;
    flex-wrap: nowrap;
    padding: 0px;
  }
  .box-parasha {
    min-width: 110px;
  }

  .merito {
    font-size: 5vw;
  }
  .nome {
    font-size: 7vw;
  }
  .topo-texto {
    width: 95%;
  }
}
