<%- include('partials/header.html') %>

<div class="col-md-12" id="contribua">
    <h2>CONTRIBUA</h2>
    <div class="logosbancos">
        <div class="col-md-2 cardbancos">
            <img src="../public/images/contribua/caixa.png" alt="caixa economica ahavat chessed" title="caixa economica ahavat chessed" id="caixa">
            <h3>CAIXA ECONÔMICA</h3>
            <h3>AGÊNCIA 3379</h3>
            <h3>OPERAÇÃO 001</h3>
            <h3>CONTA CORRENTE 28586-0</h3>
        </div>
        <div class="col-md-3">
            <img src="../public/images/contribua/itau.png" alt="banco do brasil ahavat chessed" title="banco do brasila ahavat chessed" id="bb">
            <h3>BANCO ITAÚ</h3>
            <h3>AGÊNCIA 9313</h3>
            <h3>CONTA CORRENTE 12693-1</h3>
        </div>
        <div class="col-md-2">
            <img src="../public/images/contribua/inter.png" alt="banco inter ahavat chessed" title="banco inter  ahavat chessed" id="inter">
            <h3>BANCO INTER</h3>
            <h3>AGÊNCIA 0001</h3>
            <h3>CONTA CORRENTE 4567709-3</h3>
        </div>
        <div class="col-md-2">
            <img src="../public/images/contribua/bb.png" alt="banco itau ahavat chessed" title="banco itau ahavat chessed" id="itau">
            <h3>BANCO DO BRASIL</h3>
            <h3>CONTA POUPANÇA 49019-9</h3>
            <h3>VARIAÇÃO 51</h3>
        </div>
        <div class="col-md-3">
            <img src="../public/images/contribua/pix.png" alt="pix ahavat chessed" title="pix ahavat chessed" id="pix">
            <h3>CHAVE PIX</h3>
            <h3>Celular: 41 9 96801918</h3>
        </div>
    </div>
</div>

<%- include('partials/footer.html') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>