<%- include('partials/header.html') %>

    <div id="main-container" class="container-fluid">
        <div class="row">
        <div class="offset-md-1 col-md-8 movie-container">
            <div class="movie-details">
                <span>Categoria: <%- noticia.categoria %></span>
            </div>
            <h1 class="page-notice-title"><%- noticia.titulo %></h1>
            <img class="movie-image-container" src="../public/images/<%= noticia.image %>" alt="<%- noticia.titulo %>"/>
            <p class="movie-description-container" ><%- noticia.conteudo %></p>
        </div>
        <div class="offset-md-1 col-md-8 veja-mais">
            <h3 class="veja-mais" >VEJA TAMBÉM</h3>
                <%- include('veja-mais-noticias.html') %>
        </div>
        </div>
    </div>

<%- include('partials/footer.html') %>

</body>
</html>